@using RetroBoard.ViewModels.Home
@model BoardViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    @foreach (var category in Model.Categories)
    {
        <div class="droppable">
            <div class="col-md-3">
                <h2>@category.Title</h2>
                <div class="draggable">
                    <div class="panel panel-warning">
                        <div class="panel-heading">this is test test</div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".draggable").draggable({
            cursor: 'move',
            revert: true
        });
        $(".droppable").droppable({
            drop: function (event, ui) {
                alert(ui.idS);
            }
        });
    });
</script>