
.panel-heading-shared {
    padding: 6px;
}

.panel-default > .panel-heading-custom-1 {
background: #f3b200; color: #fff; }

.panel-default > .panel-heading-custom-2 {
background: #632f00; color: #fff; }

.panel-default > .panel-heading-custom-3 {
background: #4617b4; color: #fff; }

.panel-default > .panel-heading-custom-4 {
background: #00c13f; color: #fff; }

.panel-default > .panel-heading-custom-5 {
background: #aa40ff; color: #fff; }

.panel-default > .panel-heading-custom-6 {
background: #91d100; color: #fff; }

.panel-default > .panel-heading-custom-7 {
background: #fe7c22; color: #fff; }

.panel-default > .panel-heading-custom-8 {
background: #77b900; color: #fff; }

.panel-default > .panel-heading-custom-9 {
background: #b01e00; color: #fff; }

.panel-default > .panel-heading-custom-10 {
background: #006ac1; color: #fff; }

.panel-default > .panel-heading-custom-11 {
background: #ff981d; color: #fff; }

.panel-default > .panel-heading-custom-12 {
background: #1faeff; color: #fff; }

.panel-default > .panel-heading-custom-13 {
background: #e1b700; color: #fff; }

.panel-default > .panel-heading-custom-14 {
background: #2572eb; color: #fff; }

.panel-default > .panel-heading-custom-15 {
background: #ff2e12; color: #fff; }

.panel-default > .panel-heading-custom-16 {
background: #56c5ff; color: #fff; }

.panel-default > .panel-heading-custom-17 {
background: #ff76bc; color: #fff; }



